<html><head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='logo7.png') }}" alt="Logo" class="logo">
    <h1>&nbsp;</h1>
    
</header>
<p><h1>Login</h1></p>

    {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
  <form method="post">
	
		<table ID="Submit-form"><tr><td><label>Username: <input type="text" name="username"></label></td></tr>
			
		<tr><td><label>Password: <input type="password" name="password"></label></td></tr>
		<tr><td><button type="submit" class="Submit-btn">Login</button></td></tr>
			</table>
    </form>


</body></html>
